/*
 * Application global variables.
 */

// Angular Material custom theme
// See https://material.angular.io/guide/theming for more details.
//
// You can also read https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1
// for more insight about Angular Material theming.

@import "~@angular/material/theming";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$app-primary: mat-palette($mat-amber);
// stylelint-disable-next-line value-keyword-case
$app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

// Material design icons font path
$material-design-icons-font-directory-path: "~material-design-icons-iconfont/dist/fonts/";

$ore: #c9983b;

.btn-golden {
  background: rgb(254, 219, 55);
  background: linear-gradient(
    90deg,
    rgba(254, 219, 55, 1) 0%,
    rgba(253, 185, 49, 1) 12%,
    rgba(175, 139, 50, 1) 28%,
    rgba(227, 160, 18, 1) 46%,
    rgba(254, 219, 55, 1) 67%,
    rgba(227, 160, 18, 1) 90%
  );
  border-color: var(--gold) !important;
  border-width: 1px;
  color: black;
  font-weight: 700;
  width: 150px;
  align-self: center;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.mat-divider {
  inline-size: 100%;
  border-color: $ore;
  background-color: $ore;
}

.titulo {
  margin-bottom: 0;
  padding-top: 0;
}

.subTitulo {
  margin-top: 0;
}

.seccion-inp {
  padding-left: 5%;
  padding-right: 5%;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
